
<header>
  <nav class="menu">
     <a href="/" class="menu-items">Home</a>
     <a href="/profiles" class="menu-items">Profiles</a>
     <a href="/contact" class="menu-items">Contact</a>
     <a href="/about" class="menu-items">About</a>
  </nav>
</header>
