<link rel="stylesheet" href="/styles/header.css" />

<header>
  <nav class="menu">
    <div class="menu-left">
      <a href="/" class="menu-items">
        <figure class="project-logo-container">
          <img src="/icons/users-icon.png" alt = "Home Page"/>
        </figure>
      </a>
      <% if (typeof isLogged !== "undefined" && isLogged) { %>
        <% if (typeof editor !== "undefined") { %>
          <% profile = editor; %>
        <% } %>
        <a href=<%= `/profiles/${profile._id}` %> class="menu-items" title="My profile"> Hi <%= profile.firstName %></a>
        <a href="/profiles" class="menu-items" title="List of profiles connected to me">Profiles</a>
      <% } else { %>
        <a href="/register" class="menu-items" title="Sign up">Register</a>
        <a href="/login" class="menu-items" title="Sign in">Login</a>
      <% } %>
    </div>
    <div class="menu-right">
      <% if (typeof isLogged !== "undefined" && isLogged) { %>
        <a href="/logout" class="menu-items" title="It closes your session">Logout</a>
      <% } %>
      <a href="/about" class="menu-items">About</a>
    </div>
  </nav>
</header>
