<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/styles/main-style.css" />
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>

    <div class="main-body">
      <main><%- body %></main>
      <%- include('../partials/footer.ejs') %>
    </div>
    
  </body>

  <!-- <script type="text/javascript" src="/js/code.js"></script> -->
</html>
