
<h2>Other Profiles</h2>
<ul class="sideBar">
    <% if (profiles.length > 0) { %>
        <% for (let i = 0; i < profiles.length; i++) { %>
            <li>
                <a href="<%= profiles[i].id%>"><%= profiles[i].lastName %> - @<%= profiles[i].username %></a>
            </li>
        <% } %>
    <% } else { %>
        <h3>Only you, right now! ;)</h3>
    <% } %>
</ul>