<link rel="stylesheet" href="/styles/about.css" />

<section class="about-page">
    <p>
        Yearbook is the place to connect with your friends 
        and keep or start new virtual friendships. 
    </p>
    <p>
        You can make your profile, add comments to your friends and have fun!
    </p>
    <p style="margin-top: 6rem;">
        This is a BCIT web development project using as tech stack:
    </p>

    <div class="logos-container">
        <figure class="logo">
            <a href="https://nodejs.org/" target="_blank" title="Node JS">
                <img src="/icons/logo-nodejs.png" alt = "Node JS"/>
            </a>
        </figure>
        <figure class="logo">
            <a href="https://www.npmjs.com/package/express" target="_blank" title="Express JS">
                <img src="/icons/logo-express.png" alt = "Express JS"/>
            </a>
        </figure>
        <figure class="logo">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" title="Javascript">
                <img src="/icons/logo-js.png" style="border-radius: 20px 8px" alt = "JS"/>
            </a>
        </figure>
        <figure class="logo">
            <a href="https://www.mongodb.com" target="_blank" title="Mongo DB">
                <img src="/icons/logo-mongodb.png" alt = "Mongo DB"/>
            </a>
        </figure>
        <figure class="logo">
            <a href="https://www.passportjs.org/" target="_blank" title="Passport JS">
                <img src="/icons/logo-passport.png" alt = "Passport JS"/>
            </a>
        </figure>
        <figure class="logo">
            <a href="https://www.npmjs.com/package/ejs" target="_blank" title="EJS - Embedded JavaScript templates">
                <img src="/icons/logo-ejs.png" alt = "EJS"/>
        </figure>
    </div>

</section>