<!-- check whether the user is already logged
if so, redirect them to /home -->
<link rel="stylesheet" href="/styles/register.css" />

<% let msg = ""; %>
<% let errorClass = "error-message-none"; %>
<% if (typeof errorMessage !== "undefined") { %>
    <% msg = errorMessage; %>
    <% errorClass = "error-message-yes"; %>
    <% console.log("profile on EJS === ", username); %>
<% } %>
<% console.log("msg= ", msg); %>

<form 
    action="/login"
    method="post"
>
    <section class="register-container">
        <h2 class="contact-h2">Login</h2>
        
        <div class="form-container">

            <input type="text" name="username" class="register-inputs margin-botton" placeholder="Your username"
                 title="Enter your username" value="<%= username %>" id="username" autofocus>
            <input type="password" name="password" class="register-inputs margin-botton" placeholder="Password" 
                title="Enter your Password" id="password">
            
            <h2 id="message" class="<%= errorClass %>"> <%= msg %> </h2>

            <input 
                id="loginButton"
                type="submit"
                class="contact-button"
                title="Click to login"
                value="Login"
            >
        </div>
    </section>
</form>

<script type="text/javascript" src="/js/code-login.js"></script>
