@charset "utf-8";

/* general */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}


.no-disc {
    list-style-type: none;
}



/* main/body */
main {
    background-color: lightgray;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

body {
    padding: 0;
    margin: 0;
}

.main-body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;

    margin-top: 3.5rem;
    min-height: calc(100vh - 3.5rem);
}



/* header */
/* header {
    background-color: aquamarine;
    height: 3.5rem;
    box-sizing: border-box;
    border-bottom: 2px solid #66CCAA;
    
    width: 100%;
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
}

.menu {
    margin-left: 1rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.menu-items {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 7rem;
    font-size: 25px;
}

.menu-items:hover {
    background-color: antiquewhite;
    color: brown;
    border-radius: 15px;
} */



/* home page*/
.index-page {
    text-align: center;
    margin-top: 5rem;
    color: blue;
    font-size: 35px;
    font-weight: bold
}

.index-h2 {
    margin-top: 5rem;
}

.text-field {
    width: 50%;
}

/* profiles page */
.profiles-page {
    margin: 3rem 0 0 4rem;
}

.profiles-list-table {
    display: flex;
    justify-content: center;
}

.profiles-list-table-buttons {
    /* margin: 0 1rem; */
    display: flex;
    justify-content: space-evenly;
}

.profiles-list {
    line-height: 2.5rem;
    font-weight: bold;
    font-size: 18px;
}

/* .edit-texts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.delete-buttons-container {
    display: flex;
    justify-content: space-around;
    color: black;
}


/* profile page */
.profile-container {
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-section {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    /* border: 1px solid red; */
    width: 100%;
}

.profile-section1 {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /**************/
    width: 70%;
    border: 1px solid gray;
    margin-top: 2rem;
    /* padding: 1rem; */
}

.profile-name {
    text-align: center;
    font-size: 30px;
}

.profile-inters h2 {
    text-align: center;
}

.profile-inters h3 {
    text-align: center;
}

.profile-list {
    list-style-type: lower-greek;
}

.profile-section2 {
    margin-top: 2rem;
    width: 30%;
}

.profile-list-item {
    display: flex;
}

.details-title-container {
    text-align: center;
    padding: 0 0 2rem 0;
}
.details-h2 {
    margin-top: 0.5rem;
    display: inline;
    margin: 0 1rem;
}

.details-edit-bt {
    font-weight: bold;
}

.search-name-label {
    font-weight: bold;
}

#button-submit-comment {
    text-decoration: underline;
}

#open-submit-comment-form:hover {
    cursor: pointer;
    color: green;
    font-weight: bold;
}

.comment-form {
    display: none;
    display: flex;
    flex-direction: column;
    display: none;
}

.comment-textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    margin: 0.5rem 0;
}

#comment-message {
    display: none;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-weight: bold;
}

.comment-message-success {
    background-color: green;
    color: yellow;
}

.comment-message-fail {
    background-color: red;
    color: yellow;
}

.comment-buttons-container {

}

.comment-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}


.comment-buttons > button {
    min-width: 80%;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    padding: 0.5rem;
}

.comment-buttons > button:nth-child(2) {
    background-color: lightcoral;
    color: yellow;
    border: 2px solid red;
}

.comment-buttons > button:nth-child(2):hover {
    cursor: pointer;
    background-color: maroon;
}

.comment-buttons > button:nth-child(1) {
    background-color: lightgreen;
    color: blue;
    border: 2px solid green;
}

.comment-buttons > button:nth-child(1):hover {
    cursor: pointer;
    background-color: greenyellow;
}

/* sideBar */
.sideBar-others {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 8px;
    width: 100%;
}

.sideBar-others h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.sideBar-others ul {
    margin: 0;
    padding: 0;
}

.sideBar {
    font-weight: bold;
    line-height: 2rem;
}

.sideBar li {
    margin-left: 2rem;
    margin-right: 1rem;
}



/* error page */
.error-page {
    text-align: center;
    color: red;
}



.contact-page {
    border: 1px solid gray;
    padding: 1rem;
    margin: 3rem auto;
    min-width: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
/* contact page */
/* 

.contact-h2 {
    text-align: center;
}

.contact-message {
    color: blue;
    text-align: center;
}

.contact-textarea {
    padding: 1rem;
    margin: auto;
    width: 80%;
    border-radius: 7px;
}

.contact-button {
    margin: 1rem auto;
    width: 50%;
    height: 2rem;
    border-radius: 15px;
    border: 0.5px solid green;
    background-color: darkcyan;
    color: gold;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-button:hover {
    background-color: greenyellow;
    color: darkgreen;
} */



/* about page */
.about-page {
    margin: auto;
    text-align: center;
}



/* footer */
footer {
    background-color: aquamarine;
    height: 2.5rem;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    border-top: 2px solid #66CCAA;
}


.delete-button {
    width: 8rem;
}

.db-yes {
    background-color: red;
}

.db-no {
    background-color: blue;
}

.delete-list-items {
    margin: 0;
}


/* profiles */
.details-profile-container {
    display: flex;
    gap: 2rem;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-left: 1rem;
    width: 45%;
    justify-content: flex-start;
    padding-top: 2rem;
}

.profile-pic {
    border-radius: 7px;
    padding: 0.5rem;
    border: 1px dotted gray;
    background-color: azure;
    max-height: 200px;
    width: fit-content;
}

.text-centered {
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
}

.success-message {
    color: darkgreen;
    text-align: center;
}

.comments-container {
    /* border: 1px solid blue; */
    width: 55%;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
}

.individual-comment {
    width: 100%;
    border: 1px solid lightcyan;
    border-radius: 7px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.individual-comment > span {
    display: block;
    text-align: center;
    font-weight: bold;
}
.individual-comment > p {
    margin: 0;
    padding: 0;
    text-indent: 1rem;
}
.individual-comment > p::first-letter {
    font-weight: bold;
    font-size: calc(100% + 3px);
}
.individual-comment:nth-child(even) > span {
    color: darkblue;
}
.individual-comment:nth-child(odd) > span {
    color: darkred;
}
.individual-comment > span > a {
    text-decoration: none;
    color: inherit;
}
.individual-comment > span > a:hover {
    color: green;
    background-color: gold;
    border-radius: 7px;
    padding: 0 1rem;
    margin-right: 0.5rem;
}

.detail-items {
    margin-bottom: 0;
    padding-left: 0;
}
.detail-items:first-child {
    margin-top: 0;
}
.detail-items:last-child {
    margin-bottom: 2rem;
}


/* create page*/
.create-page {
    border: 1px solid gray;
    padding: 1rem;
    margin: 3rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.create-container {
    margin: auto;
    border: 1px solid lightseagreen;
    border-radius: 8px;
    width: 75%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.create-inputs {
    width: 70%;
    margin-bottom: 0.5rem;
}