<!-- check whether the user is already logged
if so, redirect them to /home -->
<link rel="stylesheet" href="/styles/register.css" />
<link rel="stylesheet" href="/styles/edit.css" />


<% let msg = ""; %>
<% if (typeof errorMessage !== "undefined") { %>
    <% msg = errorMessage; %>
<% } %>

<% let displayUsername = ""; %>
<% if (typeof username !== "undefined") { %>
    <% displayUsername = username; %>
<% } %>
<% console.log("msg= ", msg, (typeof username || "YYYYYYYYYYY")); %>


<form 
    action="/login"
    method="post"
>
    <section class="register-container">
        <h2 class="contact-h2">Login</h2>
        
        <div class="form-container">

            <input type="text" name="username" class="register-inputs margin-botton" placeholder="Your username"
                 title="Enter your username" value="<%= displayUsername %>" id="username" autofocus>
            <input type="password" name="password" class="register-inputs margin-botton" placeholder="Password" 
                title="Enter your Password" id="password">
            
            <% if (msg) { %>
                <h2 id="message" class="error-message"> <%= msg %> </h2>
            <% } %>

            <input 
                id="loginButton"
                type="submit"
                class="contact-button"
                title="Click to login"
                value="Login"
            >
        </div>
    </section>
</form>

<script type="text/javascript" src="/js/code-login.js"></script>
<script type="text/javascript" src="/js/register-inputs.js"></script>
